#APP
TZ=Europe/Moscow
SERVICE_NAME=template-service
ENVIRONMENT=develop


#DB
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_PORT=

#RABBIT
RABBITMQ_ENABLED=false
RABBITMQ_USER=
RABBITMQ_PASS=
RABBITMQ_HOST=
RABBITMQ_PORT=

#RABBITMQ_QUEUES
QUEUE_NAME1=
QUEUE_NAME2=

#LOGGING
LOG_LEVEL=INFO
LOKI_URL=http://loki:3100/loki/api/v1/push
LOKI_ENABLED=false

#Redis
REDIS_PORT=
REDIS_HOST=
